#contact-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 90%;
    max-width: 1200px;
}

/* Form box */
.contact-form-box {
    backdrop-filter: blur(5px);
    box-shadow: var(--image-shadow);
    border-radius: 10px;
    padding: 30px;
    width: 32vw;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.contact-form-box:hover{
    scale: 1.01 !important;
}

/* Title */
.contact-headings {
    /*margin-bottom: 20px;*/
    margin-top: 10px ;
    text-align: center;
    font-size: 35px;
    text-shadow: var(--text-shadow);
}

/* Form fields */
.contact-form-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form-box input,
.contact-form-box textarea {
    padding: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* Textarea size */
.contact-form-box textarea {
    height: 120px;
    resize: none;
}

/*button container*/
#contact-button-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info-box{
    /*border: 1px solid black;*/
    width: 32vw;
    height:480px;
    padding: 30px;
    backdrop-filter: blur(5px);
    box-shadow: var(--image-shadow);
    border-radius: 10px;
}

.contact-info-box:hover{
    scale: 1.01 !important;
}

.contact-info-box h4{
    font-size: 1.6vw;
}
.contact-info-box a{
    color: black;
}

.contact-info-box p address{
    font-size: 1.3vw;
    text-decoration: none;
}
.contact-info-box p i{
    font-size: 2vw;
    margin-right: 1vw;
}

/*bigger tabs*/
@media(min-width: 768px)and (max-width: 900px) {
    .contact-headings {
        font-size: 40px;
    }
    #contact-section {
        height: auto;
        padding-bottom: 50px;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-form-box {
        width: 70vw;
    }
    .contact-info-box{
        width: 70vw;
        height: auto;
    }
    .contact-info-box h4{
        font-size: 3.7vw;
    }
    .contact-info-box a{
        color: black;
    }
    .contact-info-box p address{
        font-size: 1.9vw;
        text-decoration: none;
    }
    .contact-info-box p i{
        font-size: 4.8vw;
        margin-right: 1.2vw;
    }
    }

/*smaller tabs*/
@media(min-width: 550px)and (max-width: 768px) {
    #contact-section {
        height: auto;
        padding-bottom: 50px;
    }
    .contact-container {
        flex-direction: column;
    }
    .contact-form-box {
        width: 70vw;
    }
    .contact-info-box{
        width: 70vw;
        height: auto;
    }
    .contact-info-box h4{
        font-size: 3.7vw;
    }
    .contact-info-box a{
        color: black;
    }
    .contact-info-box p address{
        font-size: 1.9vw;
        text-decoration: none;
    }
    .contact-info-box p i{
        font-size: 4.8vw;
        margin-right: 1.2vw;
    }
    }

@media(max-width: 550px){

    #contact-section {
        height: auto;
        padding-bottom: 50px;
    }

    .contact-container {
        flex-direction: column;
    }
    .contact-form-box {
        width: 70vw;
        height: auto;
    }
    .contact-info-box{
        width: 70vw;
        height: auto;
    }
    .contact-info-box h4{
        font-size: 3.7vw;
    }
    .contact-info-box a{
        color: black;
    }
    .contact-info-box p address{
        font-size: 1.9vw;
        text-decoration: none;
    }
    .contact-info-box p i{
        font-size: 4.8vw;
        margin-right: 1.2vw;
    }

}


