
#contact-section {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 90%;
    max-width: 1200px;
}

/* Form box */
.contact-form-box {
    backdrop-filter: blur(5px);
    box-shadow: var(--image-shadow);
    border-radius: 10px;

    padding: 30px;
    width: 32vw;
    height: 480px;
    display: flex;
    flex-direction: column;
}

/* Title */
.contact-headings {
    /*margin-bottom: 20px;*/
    margin-top: 10px ;
    text-align: center;
    font-size: 35px;
    text-shadow: var(--text-shadow);
}

/* Form fields */
.contact-form-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form-box input,
.contact-form-box textarea {
    padding: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* Textarea size */
.contact-form-box textarea {
    height: 120px;
    resize: none;
}

/*button container*/
#contact-button-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*.contact-form-box .btn:hover::before {*/
/*    left: 125%;*/
/*}*/


.contact-info-box{
    /*border: 1px solid black;*/
    width: 32vw;
    height:480px;
    padding: 30px;
    backdrop-filter: blur(5px);
    box-shadow: var(--image-shadow);
    border-radius: 10px;
}
