
#contact-section {
    width: 100vw;
    height: 100vh;
    /*background: #3b3b3b;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 80%;
    max-width: 1200px;
}

/* Form box */
.contact-form-box {
    /*background: #2f2f2f;*/
    padding: 30px;
    width: 420px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

/* Title */
.contact-form-box h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
}

/* Form fields */
.contact-form-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form-box input,
.contact-form-box textarea {
    padding: 14px;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* Textarea size */
.contact-form-box textarea {
    height: 120px;
    resize: none;
}

/*button container*/
#submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-form-box .btn:hover::before {
    left: 125%;
}

/* Placeholder right panel (will style later) */
.contact-info-box {
    width: 320px;
    height: 320px;
    background: rgba(255,255,255,0.05);
    border-radius: 14px;
}



.contact-info-box{
    background: white;
    border: 1px solid black;
    height: 100%;
}
