.projects-slider-container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-images{
    display: flex;
    align-items: center;
    gap: 3vw;
}

.slider-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;

}

.slider-img{
    width: 110px;
    border-radius: 6px;
    position: relative;
    transition:0.7s ease;
}

.slider-images .slider-img:first-child,.slider-images .slider-img:last-child {
    height: 300px;
}

.slider-images .slider-img:nth-child(2),.slider-images .slider-img:nth-child(6){
    height: 400px;
}

.slider-images .slider-img:nth-child(3),.slider-images .slider-img:nth-child(4),.slider-images .slider-img:nth-child(5){
    height: 500px;
}

#projects-section h1{
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 40%;
    left: -10%;
    transform: rotate(270deg);
    transition:0.7s ease;
}

.details{
    position: absolute;
    bottom: 10px;
    left: 43px;
}

#projects-section .details h2{
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s ease;
}

#projects-section .details p{
    font-size: 18px;
    text-align: left;
    line-height: 25px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s ease;
}

.slider-img.active{
    width: 500px !important;
    height: 550px !important;
}

.slider-img.active h1{
    display: none;
}

.slider-img.active .details p , .slider-img.active .details h2{
    display: block;
}

