:root {
    --text-shadow:5px 5px 6px rgba(0,0,0,0.36);
    --image-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.projects-slider-container{
    margin: 0;
    /*padding-top: 50px;*/
    box-sizing: border-box;

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*text-shadow: var(--text-shadow);*/
    color: white;
    text-shadow:
            -1px -1px 0 #000000,
            1px -1px 0 #000000,
            -1px  1px 0 #000000,
            1px  1px 0 #000000;
}


.slider-images{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 3vw;
    overflow-x: auto;
    overflow-y: hidden;
}

.slider-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: var(--image-shadow);
}

.slider-img{
    width:10vw;
    border-radius: 5px;
    position: relative;
    transition:0.7s ease;
    overflow: hidden;

}

.slider-images .slider-img:first-child,.slider-images .slider-img:last-child {
    height: 425px;
}

.slider-images .slider-img:nth-child(2),.slider-images .slider-img:nth-child(6){
    height: 460px;
}

.slider-images .slider-img:nth-child(3),.slider-images .slider-img:nth-child(4),.slider-images .slider-img:nth-child(5){
    height: 500px;
}

/*main project name*/
#projects-section h1{
    padding: 0;
    margin: 0;
    font-size: 35px;
    letter-spacing: 0.4vw;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 100%;
    left: 35%;
    transform: rotate(270deg);
    transform-origin: left top;
    transition:1s ease;
}

#projects-section h2:hover{
    scale: 1.05;
}
/*to center the h1 and get the full size*/
#projects-section .large h1{
    width:500px
}
#projects-section .medium h1{
    width: 460px;
}
#projects-section .small h1{
    width: 425px;
}

.details{
    opacity: 0;

    position: absolute;
    left: 0;right: 0;
    height: 61%;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    backdrop-filter: blur(1px);
}

#projects-section .details h2{
    padding-top: 0;
    margin-top: 0;
    font-size: 28px;
    text-align: left;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s ease;
}

#projects-section .details p{
    font-size: 20px;
    text-align: left;
    line-height: 25px;
    text-transform: uppercase;
    transition: 0.7s ease;
}

/*card buttons*/
#projects-section .details .project-button-bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

#projects-section .project-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    box-shadow: var(--image-shadow);
    backdrop-filter: blur(10px);
}

.slider-img.active{
    width: 400px !important;
    height: 500px !important;
}

.slider-img.active h1{
    display: none;
}

.slider-img.active .details{
    display: block;
    opacity: 1;
}

