:root {
    /*--text-shadow:5px 5px 6px rgba(0,0,0,0.36);*/
    /*--image-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
}


.projects-slider-container{
    margin: 0;
    /*padding-top: 50px;*/
    box-sizing: border-box;

    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*text-shadow: var(--text-shadow);*/
    color: white;
    text-shadow:
            -1px -1px 0 #000000,
            1px -1px 0 #000000,
            -1px  1px 0 #000000,
            1px  1px 0 #000000;
}


.slider-images{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 3vw;
    overflow-x: auto;
    overflow-y: hidden;
}

.slider-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.slider-img{
    width:10vw;
    border-radius: 5px;
    position: relative;
    transition:0.7s ease;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;    /*box-shadow: var(--image-shadow);*/


}

.slider-images .slider-img:first-child,.slider-images .slider-img:last-child {
    height: 425px;
}

.slider-images .slider-img:nth-child(2),.slider-images .slider-img:nth-child(6){
    height: 460px;
}

.slider-images .slider-img:nth-child(3),.slider-images .slider-img:nth-child(4),.slider-images .slider-img:nth-child(5){
    height: 500px;
}

/*main project name*/
#projects-section h1{
    padding: 0;
    margin: 0;
    font-size: 35px;
    letter-spacing: 0.4vw;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 100%;
    left: 35%;
    transform: rotate(270deg);
    transform-origin: left top;
    /*transition:1s ease;*/
}

#projects-section h2:hover{
    scale: 1.05;
}
/*to center the h1 and get the full size*/
#projects-section .large h1{
    width:500px
}
#projects-section .medium h1{
    width: 460px;
}
#projects-section .small h1{
    width: 425px;
}

.details{
    opacity: 0;

    position: absolute;
    left: 0;right: 0;
    height: 61%;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    /*backdrop-filter: blur(1px);*/
    background: rgba(0,0,0,0.3);
}

#projects-section .details h2{
    padding-top: 0;
    margin-top: 0;
    font-size: 28px;
    text-align: left;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    /*transition: 0.7s ease;*/
}

#projects-section .details p{
    font-size: 19px;
    text-align: left;
    line-height: 24px;
    text-transform: uppercase;
    /*transition: 0.7s ease;*/
}

/*card buttons*/
#projects-section .details .project-button-bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

#projects-section .project-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 5px;
    height: 30px;
    width: 70px;
    box-shadow: var(--image-shadow);
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.3);

}

#projects-section .project-btn:hover {
    transform: scale(1.1); /* Slightly enlarge */
    background: rgba(255,255,255,0.2); /* Light frosted background */
    box-shadow: 0 0 10px rgba(255,255,255,0.6); /* Glow */
}

.slider-img.active{
    width: 400px !important;
    height: 500px !important;
}

.slider-img.active h1{
    display: none;
}

.slider-img.active .details{
    display: block;
    opacity: 1;
}





/* Popup background (hidden by default) */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup h2{
    font-size: 35px;

}
.popup h3{
    font-size: 25px;

}

/* Popup box */
.popup .popup-content {
    background-image: url('../assets/images/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    padding: 10px 20px;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 0 15px #000;
    animation: fadeIn 0.5s ease;
    text-shadow: var(--text-shadow);
}

/*image*/
.popup .popup-image {
    height:200px;
    width: 350px;
    border: 1px solid black;
    /*box-shadow: var(--image-shadow);*/
}


/* Close button */
.popup .close-btn {
    float: right;
    cursor: pointer;
    font-size: 35px;
    margin-bottom: 10px;
}


/* technologie tags */
.used-technologies span {
    position: relative;
    display: inline-block;
    padding: 4px 10px;
    margin: 4px;
    font-size: 14px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid black;
    transition: transform .5s ease, box-shadow .4s ease;
}


/* optional: color or glow on hover */
.used-technologies span:hover {
    box-shadow: var(--image-shadow);
}

/* Fade animation */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}

/*for tablets*/
@media(min-width: 768px)and (max-width: 900px) {
    .projects-slider-container{
        height: auto;
    }

    #projects-section h1{
        left: 25%;
    }

    #projects-section .details h2{
        font-size: 25px;
    }

    #projects-section .details p{
        font-size: 17px;
    }
    }

/*smaller tablets*/
@media(min-width: 550px)and (max-width: 768px) {
    #projects-section h1{
        left: 20%;
        font-size: 32px;
    }

    #projects-section .details h2{
        font-size: 25px;
    }

    #projects-section .details p{
        font-size: 16px;
    }
}

@media(max-width: 550px){

    #projects-section h1{
        /*padding: 0;*/
        /*margin: 0;*/
        font-size: 30px;
        /*letter-spacing: 0.4vw;*/
        text-align: center;
        text-transform: uppercase;
        color: white;
        /*position: absolute;*/
        top: 30%;left: 0;bottom: 0;margin: auto;
        transform: rotate(0deg);
        /*transform-origin: left top;*/
        transition:1s ease;
    }

    #projects-section .details p{
        font-size: 16px;
    }

    .slider-images{
        flex-direction: column;
        width: 100%;
    }

    .slider-img{
        width: 90vw;
        height: 30vh;
    }

    .slider-images .slider-img:first-child,.slider-images .slider-img:last-child {
        width: 90vw;
    }

    .slider-images .slider-img:nth-child(2),.slider-images .slider-img:nth-child(6){
        width: 90vw;
    }

    .slider-images .slider-img:nth-child(3),.slider-images .slider-img:nth-child(4),.slider-images .slider-img:nth-child(5){
        width: 90vw;
    }

    #projects-section .large h1{
        width:90vw
    }
    #projects-section .medium h1{
        width: 90vw;
    }
    #projects-section .small h1{
        width: 90vw;
    }

    .slider-img.active{
        width: 90vw !important;
        height: 4500px !important;
    }

    .details{
        height: 65% !important;
    }

    .popup .popup-content {
        max-width: 80vw;
    }

    .popup .popup-image {
        height:160px;
        width: auto;
        border: 1px solid black;
    }


    }






