.projects-slider-container{
    margin: 0;
    padding-top: 50px;
    box-sizing: border-box;

    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider-images{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    gap: 3vw;
    overflow-x: auto;
    /*overflow-y: hidden;*/

}

.slider-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.slider-img{
    width:10vw;
    border-radius: 5px;
    position: relative;
    transition:0.7s ease;
}

.slider-images .slider-img:first-child,.slider-images .slider-img:last-child {
    height: 425px;
}

.slider-images .slider-img:nth-child(2),.slider-images .slider-img:nth-child(6){
    height: 460px;
}

.slider-images .slider-img:nth-child(3),.slider-images .slider-img:nth-child(4),.slider-images .slider-img:nth-child(5){
    height: 500px;
}

/*main project name*/
#projects-section h1{
    padding: 0;
    margin: 0;
    font-size: 35px;
    letter-spacing: 0.4vw;
    text-align: center;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 100%;
    left: 35%;
    transform: rotate(270deg);
    transform-origin: left top;
    transition:1s ease;
}
/*to center the h1 and geth tthe full size*/
#projects-section .large h1{
    width:500px
}
#projects-section .medium h1{
    width: 460px;
}
#projects-section .small h1{
    width: 425px;
}

.details{
    opacity: 0;

    position: absolute;
    left: 0;right: 0;
    height: 60%;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

#projects-section .details h2{
    /*opacity: 0;*/
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s ease;
}

#projects-section .details p{
    /*opacity: 0;*/
    font-size: 18px;
    text-align: left;
    line-height: 25px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s ease;
}

.slider-img.active{
    width: 400px !important;
    height: 500px !important;
}

.slider-img.active h1{
    display: none;
}

.slider-img.active .details{
    display: block;
    opacity: 1;
}

