:root {
    --sub-headings-size:32px;
    --headings-size:5vw;
    --text-shadow:5px 5px 6px rgba(0,0,0,0.36);
    --icon-size:5vw;
    --icon-description-size:1.5vw;
    --image-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    --card-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --card-hovered-shadow:rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --skill-card-height:20vw;

}

/*floating animation*/
.floating-div {
    display: inline-block;
    animation: float 2s ease-in-out infinite;
}

/* Keyframes for smooth floating motion */
@keyframes float {
    0% {
        scale: 1;
        /*transform: translateY(0);*/
    }
    50% {
        /*transform: translateY(-5px);*/
        scale: 1.05;
    }
    100% {
        /*transform: translateY(0);*/
        scale: 1;
    }
}

/*full section*/
#skills-section{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    text-align: center;
    height: 65vw;
    /*border-bottom: 2px solid black;*/
    /*position: relative;*/
}

/*main heading container*/
#skills-heading{
    height: 12vh;
    width: 100%;
    text-align: right;
    /*border: 1px solid black;*/
}

/*main heading h1*/
#skills-heading h1{
    text-align: right;
    font-size:var(--headings-size);
    text-decoration: underline;
    margin: 0;
    padding: 0;
    text-shadow: var(--text-shadow);
}


/*main skills-technologies-content container*/
.skills-technologies-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    gap: 3vw;
    /*border: 1px solid black;*/
    padding: 50px 4% 0 4%;
}

/*left side div*/
#technologies-div{
    height: 90vh;
    width: 35vw;
    /*border: 1px solid #00c507;*/
    display: flex;
    flex-direction: column;
    /*backdrop-filter: blur(3px);*/
    /*box-shadow: var(--image-shadow);*/
    /*border-radius: 15px;*/
}



/*sub headings*/
.skills-page-sub-headings{
    font-size: var(--sub-headings-size);
    text-align: center;
    /*border: 1px solid black;*/
    margin-bottom: 5vw;
}
/*sub heading text*/
.skills-page-sub-headings h2{
    margin: 0;
    padding: 0;
    text-shadow: var(--text-shadow);

}
/*container for all  icons*/
#technologies-inner-content-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    row-gap: 5vw;
    column-gap: 1vw;
    /*overflow: hidden;*/

}
/*icon boxes*/
.technologies-boxes{
    font-size: var(--icon-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
    border-radius: 20px;
    height: 90px;
    aspect-ratio: 1/1;
    text-shadow: var(--text-shadow);
    transition-duration: 500ms;
    box-shadow: var(--card-shadow);
}
.technologies-boxes:hover{
    /*border: 1px solid var(--text-color);*/
    border-radius: 15px;
    scale: 1.1;
    box-shadow:var(--card-hovered-shadow);}

/*icon description texts*/
.technologies-boxes span{
    font-size: var(--icon-description-size);
}

/*right side div*/
#skills-div {
    height: 90vh;
    width: 55vw;
    /*border: 1px solid #ea4a4a;*/
    display: flex;
    flex-direction: column;
}
/*div for skill cards*/
#skill-cards-container {
    flex: 1; /* take remaining height */
    display: flex;
    flex-direction: column;
    gap: 1vw;
    /*border: 1px solid black;*/

    /* enable vertical scrolling */
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#skill-cards-container::-webkit-scrollbar {
    display: none;

}


/*for scrolling*/
#skill-card-display {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    /*height: 110vw;*/
}

/*skill cards*/
.skill-cards {
    position: sticky;
    top: 0;
    height: var(--skill-card-height);
    border: 1px solid #e6e3e3;
    /*background: white;*/
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /*--for effect--*/
    box-shadow: var(--card-shadow);
    backdrop-filter: blur(15px);
    /*background: white;*/

    border-radius: 15px;
    transition-duration: 500ms;

}

.skill-cards:hover{
    scale: 1.03;
}

/*div that hold thead image*/
.skill-card-images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*image that in thead skill card*/
.skill-cards img{
    height:18vw;
    aspect-ratio: auto;
    border-radius: 20px;
    margin: 5px;
}

/*positions forall stacking effect*/
.skill-cards:nth-child(2) {
    top: 4vw;
}
.skill-cards:nth-child(3) {
    top: 8vw;
}
.skill-cards:nth-child(4) {
    top: 12vw;
}
.skill-cards:nth-child(5) {
    background: transparent;
    border: none;
    box-shadow: none;
    backdrop-filter: none;
}

.skill-cards:nth-child(6) {
    background: transparent;
    border: none;
    box-shadow: none;
    backdrop-filter: none;
}
.skill-cards:nth-child(7) {
    background: transparent;
    border: none;
    box-shadow: none;
    backdrop-filter: none;
}
.skill-cards:last-child {
    background: transparent;
    border: none;
    box-shadow: none;
    backdrop-filter: none;
}

.skill-card-texts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: var(--skill-card-height);
}

.skill-card-texts .skill-card-headings{
    height: 4vw;
    text-align: center;


}
.skill-card-texts .skill-card-headings h1{
    margin: 0;
    padding: 0;
    font-size: 2.5vw;

}
.skill-card-texts .skill-card-text-bodys{
    text-align: center;
    height: 15vw;
    margin-left: 2vw ;
    margin-right: 2vw ;
    font-size: 1.5vw;
}

@media(min-width: 600px)and (max-width: 900px){

    :root{
        --skill-card-height:30vw;
    }

    .technologies-boxes{
        font-size: 7vw;
    }

    .technologies-boxes span{
        font-size: 2vw;
    }

    #skills-section{
        height: 170vw;
    }


    .skills-technologies-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #skills-heading{
        height: 50vw;
    }

    #skills-heading h1{
        font-size: 6.5vw;
    }

    #technologies-div{
        width: 65vw;
    }

    /*skill card width*/
    #skills-div{
        width: 80vw;
        height: 80vw;
    }

    .skills-technologies-content{
        gap: 10vw;
    }

    /*increase scroll length*/
    #skill-card-display {
        height: 180vw;
    }


    /*adjust card stack gap;*/
    .skill-cards:nth-child(2) {
        top: 6vw;
    }
    .skill-cards:nth-child(3) {
        top: 12vw;
    }
    .skill-cards:nth-child(4) {
        top: 18vw;
    }

    /*skill card image size*/
    .skill-cards img{
        height:27vw;
    }

    /*skill card heading text size*/
    .skill-card-texts .skill-card-headings h1{
        margin: 0;
        padding: 0;
        font-size: 4vw;
    }

    /*sub headings*/
    .skills-page-sub-headings{
        font-size: var(--sub-headings-size);
        text-align: center;
        /*border: 1px solid black;*/
        margin-bottom: 10vw;
    }

    #skill-cards-container{
        width: 80vw;
    }

    .skill-card-texts .skill-card-text-bodys{
        text-align: center;
        height: 20vw;
        margin-left: 2vw ;
        margin-right: 2vw ;
        font-size: 2.3vw;
        font-weight: bold;
    }
}





@media(max-width: 600px){

    :root{
        --skill-card-height:35vw;
    }

    #skills-section{
        height: 265vw;
        /*margin-top: 30vw;*/

    }

    .skills-technologies-content{
        margin-top: 30vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350vw;
    }

    #skills-heading{
        height: 17vw;
    }

    /*icon sizes*/
    .technologies-boxes{
        height: 19vw;
        font-size: 10vw;
    }
    /*icon text sizes*/
    .technologies-boxes span{
        font-size: 4.5vw;
    }

    #technologies-div{
        width: 75vw;
        height: 115vw;
        margin-bottom: 12vw;
    }

   /*heading size*/
    #skills-heading h1{
        font-size: 8.5vw;
    }

    /*sub headings*/
    .skills-page-sub-headings {
        font-size: 7vw;
        text-align: center;
        /*border: 1px solid black;*/
        margin-bottom: 10vw;
    }

    .skills-technologies-content{
        height: 305vw;
        width: 90vw;
        padding: 20px 4% 0 4%;
    }

    #technologies-inner-content-box{
    }

    #skills-div{
        width: 90vw;
    }

    #skill-card-display {
        gap: 7vw;
        width: 90vw;
    }


    .skill-cards:nth-child(2) {
        top: 10vw;
    }
    .skill-cards:nth-child(3) {
        top: 20vw;
    }
    .skill-cards:nth-child(4) {
        top: 30vw;
    }
    .skill-cards:nth-child(5) {
        background: transparent;
        border: none;
        box-shadow: none;
        backdrop-filter: none;
        top: 40vw;

    }
    .skill-cards:nth-child(6) {
        background: transparent;
        border: none;
        box-shadow: none;
        backdrop-filter: none;
        top: 50vw;

    }
    .skill-cards:nth-child(7) {
        background: transparent;
        border: none;
        box-shadow: none;
        backdrop-filter: none;
        top: 60vw;

    }
    .skill-cards:last-child {
        background: transparent;
        border: none;
        box-shadow: none;
        backdrop-filter: none;
        top: 70vw;
    }

    .skill-cards img{
        height:32vw;
    }

    .skill-card-texts .skill-card-headings h1{
        font-size: 6vw;
    }



    .skill-card-texts .skill-card-text-bodys{
        font-size: 2.9vw;
        height: 26vw;
    }

}


