.skills-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    /*background: crimson;*/
    /*position: relative;*/
    /*background: lightgreen;*/
}