:root {
    --sub-headings-size:32px;
    --headings-size:5vw;
    --text-shadow:5px 5px 6px rgba(0,0,0,0.36);
    --icon-size:5vw;
    --icon-description-size:1.5vw;
    --image-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

/*floating animation*/
.floating-div {
    display: inline-block;
    animation: float 3s ease-in-out infinite;
}

/* Keyframes for smooth floating motion */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}



/*full section*/
.skills-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vw;
    border: 2px solid black;
    /*position: relative;*/
}

/*main heading container*/
#skills-heading{
    height: 12vh;
    /*border: 1px solid black;*/
}

/*main heading h1*/
#skills-heading h1{
    text-align: right;
    font-size:var(--headings-size);
    text-decoration: underline;
    margin: 0;
    padding: 0;
    text-shadow: var(--text-shadow);
}


/*main skills-technologies-content container*/
.skills-technologies-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    /*border: 1px solid black;*/
    padding: 50px 4% 0 4%;
}

/*left side div*/
#technologies-div{
    height: 90vh;
    width: 70vh;
    /*border: 1px solid #00c507;*/
    display: flex;
    flex-direction: column;
    /*backdrop-filter: blur(3px);*/
    /*box-shadow: var(--image-shadow);*/
    /*border-radius: 15px;*/
}



/*sub headings*/
.skills-page-sub-headings{
    font-size: var(--sub-headings-size);
    text-align: center;
    /*border: 1px solid black;*/
    margin-bottom: 3vw;
}
/*sub heading text*/
.skills-page-sub-headings h2{
    margin: 0;
    padding: 0;
    text-shadow: var(--text-shadow);

}
/*container for all  icons*/
#technologies-inner-content-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
    row-gap: 5vw;
    column-gap: 1vw;
    /*overflow: hidden;*/

}
/*icon boxes*/
.technologies-boxes{
    font-size: var(--icon-size);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
    border-radius: 20px;
    height: 6vw;
    aspect-ratio: 1/1;
    text-shadow: var(--text-shadow);
    transition-duration: 500ms;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.technologies-boxes:hover{
    /*border: 1px solid var(--text-color);*/
    border-radius: 15px;
    scale: 1.1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;}

/*icon description texts*/
.technologies-boxes span{
    font-size: var(--icon-description-size);
}

/*right side div*/
#skills-div {
    height: 90vh;
    width: 110vh;
    border: 1px solid #ea4a4a;
    display: flex;
    flex-direction: column;
}

#skill-cards-container {
    flex: 1; /* take remaining height */
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border: 1px solid black;

    /* enable vertical scrolling */
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#skill-card-display {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    height: 110vw;
}

.skill-cards {
    position: sticky;
    top: 0;
    height: 20vw;
    border: 1px solid black;
    background: white;
    margin-left: 1vw;
    margin-right: 1vw;
}
.skill-cards:nth-child(2) {
    top: 3vw;
}
.skill-cards:nth-child(3) {
    top: 6vw;
}
.skill-cards:nth-child(4) {
    top: 9vw;
}




